<div class="item_pic">
   <img alt="<%= name %>" height="32" src="/assets/<%= pic_url %>" width="32">
</div>
<div class="item_desc">
   <div class="item_title">
      <div class="item_name"><%= name %></div>
      <% if(count > 1){ %>
      <div class="item_count">x<%= count %></div>
      <% } %>
   </div>
   <div class="item_text"><%= description %></div>
</div>
