<div class="small_info">
    <div class="small_name"><%= name %></div>
    <div class="small_info_bar">
        &nbsp;
        <div id="hp<%= id %>_max" class="small_bar hp_max"></div>
        <div id="hp<%= id %>_now" class="small_bar hp_now"></div>
    </div>
    <div class="small_info_bar">
        &nbsp;
        <div id="mp<%= id %>_max" class="small_bar mp_max"></div>
        <div id="mp<%= id %>_now" class="small_bar mp_now"></div>
    </div>
    <div class="small_indicator">&#9660;</div>
</div>
