<div class="modal_head">
    <div class="modal_title"><%= @store.name %></div>
    <div class="modal_close">&#215;</div>
    <div class="store_money">$<%= @cu.money %></div>
    <div id="store_sell" class="store_tab">Sell</div>
    <div id="store_buy" class="store_tab">Buy</div>
</div>
<div id="store_sell_panel" class="modal_body store_body">
    <% @cu.owns.each do |o| %>
    <div class="item store_item">
        <div class="item_pic">
            <%= image_tag o.item.pic_url, :size => "32x32" %>
        </div>
        <div class="item_desc">
            <div class="item_title">
                <div class="item_name"><%= o.item.name %></div>
                <div class="store_price">$<%= o.item.sell_price %></div>
                <div class="store_input">
                    You have: <%= o.count %>
                    &nbsp;&nbsp;#<input id="<%= o.item.id %>" type="text" size="2" maxlength="2"/>
                </div>
            </div>
            <div class="item_text"><%= o.item.description %></div>
        </div>
        <div class="item_effect hidden"><%= o.item.effect %></div>
    </div>
    <% end %>
</div>
<div id="store_buy_panel" class="modal_body store_body">
    <% @store.items.each do |it| %>
    <div class="item store_item">
        <div class="item_pic">
            <%= image_tag it.pic_url, :size => "32x32" %>
        </div>
        <div class="item_desc">
            <div class="item_title">
                <div class="item_name"><%= it.name %></div>
                <div class="store_price">$<%= it.price %></div>
                <div class="store_input">
                    #<input id="<%= it.id %>" type="text" size="2" maxlength="2"/>
                </div>
            </div>
            <div class="item_text"><%= it.description %></div>
        </div>
        <div class="item_effect hidden"><%= it.effect %></div>
    </div>
    <% end %>
</div>
<div class="modal_bar">
    <div class="modal_button"><a href="#" id="store_ok">OK</a></div>
    <div class="modal_button"><a href="#" id="store_cancel">Cancel</a></div>
</div>
