$font: 'Armata', sans-serif;

$bg:          #14171a;
$fg:          #dfdfdf;
$light_bg:    #eaeaea;
$light_fg:    #6c6c6c;
$light_line:  #d9d9d9;
$blue_fg:     #33b5e5;
$blue_bg:     #0099cc;
$green_fg:    #99cc00;
$green_bg:    #669900;
$red_fg:      #ff4444;
$red_bg:      #cc0000;
$yellow_fg:   #ffbb33;
$yellow_bg:   #ff8800;

$button:      #5a5a5a;
$button-pr:   #31a4ce;

// Global settings
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font;
    overflow: hidden;
}
#map_canvas {
    width: 100%;
    height: 100%;
}

// Scrollbar
/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background-color: $light_bg;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: $light_fg;
}

// Modal view
#modal_mask {
  position: absolute;
  z-index: 15000;
  background-color: white;
  top: 0px;
  left: 0px;
  // height: 1000px;
  // width: 1000px;
  display: none;
}
.modal_window {
  position: absolute;
  background-color: $bg;
  width: 440px;
  border-top: 3px solid $red_fg;
  display: none;
  z-index: 15001;
  padding: 20px;
}
.modal_head {
    overflow: auto;
}
.modal_title {
    float: left;
    color: $blue_fg;
    font-size: 1.2em;
}
.modal_close {
    margin-left: 10px;
    float: right;
    color: $fg;
    cursor: pointer;
}
.modal_body {
    margin: 30px;
    height: 100%;
    color: $fg;
    text-align: center;
    vertical-align: middle;
}
.modal_bar {
    padding-top: 10px;
    border-top: 1px solid $light_fg;
}
.modal_button {
    float: left;
    color: $yellow_fg;
    font-size: 1em;
    text-align: center;
    width: 50%;
    // border-top: 1px solid $light_fg;
    // border-right: 1px solid $light_fg;
    // border-left: 1px solid $light_fg;
}
.modal_button a:link, .modal_button a:hover, .modal_button a:visited {
    text-decoration: none;
    color: $yellow_fg;
}

// Store
.store_body {
    height: 300px;
    background-color: $light_bg;
    overflow-y: scroll;
}
.store_tab {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    color: $fg;
    float: right;
}
.store_money {
    float: right;
    color: $yellow_fg;
    margin-left: 5px;
    margin-right: 5px;
}
.store_price {
    float: left;
    color: $light_fg;
    margin-left: 10px;
    font-size: 1em;
}
.store_input {
    float: right;
    color: $light_fg;
    margin-right: 5px;
}
#store_buy {
    border-bottom: 3px solid $blue_fg;
}

// Classes
.no_border {
    background: none;
    border: 0;
}

// Info panel
#info_panel {
    position: absolute;
    width: 200px;
    height: 130px;
    left: 15px;
    top: 15px;
    padding: 10px;
    background-color: $bg;
    border-bottom: 3px solid $blue_bg;
    z-index: 10000;
}
#info_panel_upper {
    height: 40px;
    width: 100%;
}
#info_panel_lower {
    width: 100%;
}
#player_name {
    float: left;
    font-size: 20px;
    color: $blue_fg;
}
#player_lv {
    float: right;
    margin-top: 5px;
    color: $fg;
}
#player_image {
    float: left;
}
#bar_group {
    width: 140px;
    float: left;
}
.info_bar {
    height: 30px;
    width: 100%;
    position: relative;
}
.hpmp_bar {
    height: 16px;
    width: 140px;
    position: absolute;
    top: 14px;
    left: 10px;
}
.hpmp_text{
    color: $fg;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: absolute;
    width: 100px;
    text-align: center;
    font-size: 0.8em;
}

// Bars
.hp_max{
    background-color: $red_bg;
}
.hp_now{
    background-color: $red_fg;
}
.mp_max{
    background-color: $yellow_bg;
}
.mp_now{
    background-color: $yellow_fg;
}
.exp_max{
    background-color: $green_bg;
}
.exp_now{
    background-color: $green_fg;
}

// Chat panel
#chat_panel{
    border-top: 3px solid $yellow_bg;
    position: absolute;
    background-color: $bg;
    color: $fg;
    width: 500px;
    left: 15px;
    bottom: 33px;
    z-index: 10000;
}
#chat_history{
    width: 100%;
    height: 130px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
}
.chat_user {
    color: $yellow_fg;
}
#chat_expand {
    float: left;
    margin: 3px 10px 3px 5px;
    cursor: pointer;
}
#chat_input {
    background-color: $fg;
    font-family: $font;
    width: 400px;
    height: 20px;
}
#chat_button {
    background-color: $button;
    font-family: $font;
    color: $fg;
    border-top: 1px solid $fg;
    border-left: 1px solid $fg;
    border-right: 0px;
    border-bottom: 0px;
    width: 50px;
    height: 26px;
    margin: 0px;
}
#chat_button:hover {
    background-color: $button-pr;
}
#chat_panel_lower {
    position: relative;
    width: 512px;
    height: 26px;
    margin: 5px 0px 0px 0px;
}

// Inventory panel
#right_panel {
    position: absolute;
    width: 360px;
    right: 15px;
    bottom: 80px;
    z-index: 10000;
    background-color: $light_bg;
}
#right_panel_upper {
    overflow: auto;
    border-top: 3px solid $green_bg;
    background-color: $bg;
}
#right_expand {
    color: $fg;
    float: left;
    margin: 10px 5px 3px 5px;
    cursor: pointer;
}
.right_title {
    float: left;
    font-size: 1em;
    color: $fg;
    padding: 10px 10px 5px 10px;
    cursor: pointer;
}
#equipment::after {
    position: absolute;
    height: 1em;
    left: 8em; /* try and error */
    top: 0.9em; /* outer container padding 1em - (0.5)/2 em */
    border-left: 1px solid $light_fg;
    content: "";
}
// .right_title::after {
//     border-right: 1px solid $light_fg;
//     height: 60%;
//     content: '';
// }
// .tab {
//     border-right: 1px solid $light_fg;
// }
#inventory {
    border-bottom: 3px solid $blue_fg;
}
.money {
    float: right;
    color: $yellow_fg;
    padding: 10px 10px 10px 10px;
}
#right_panel_lower {
    height: 470px;
    overflow-y: scroll;
}
#equipment_panel {
    display: none;
}
.item {
    overflow: auto;

    background-color: $light_bg;
    border-top: 1px solid $light_line;
    border-bottom: 1px solid $light_line;
}
.item_pic {
    padding: 5px 5px 5px 10px;
    float: left;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
.item_desc {
    padding-top: 5px;
}
.item_title {
    overflow: auto;
}
.item_name {
    float: left;
    color: $green_fg;
    font-size: 1em;
}
.item_count {
    float: right;
    color: $light_fg;
    margin-right: 5px;
    font-size: 1em;
}
.item_text {
    text-align: left;
    color: $light_fg;
    font-size: 0.8em;
}

// Skilltree Display
#skill_tree_panel {
   position: fixed;
   height: 600px;
   width: 800px;
   top: 50%;
   left: 50%;
   margin-top: -300px;
   margin-left: -400px;
   background-color: #222222;
   opacity: 0.95;
   border-radius: 15px;
   z-index: 20000;
}

#skill_tree_panel h1 {
   margin-top: 30px;
   margin-left: 50px;
   color: white;
   font-size: 2em;
}

#skill_tree_panel #x a {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  color: #DDDDDD;
  font-weight: bold;
  font-size: 1em;
  text-decoration:none;
}
#skill_tree_panel #x a:hover {
  color: white;
  font-weight: bolder;
  text-decoration:none;
}

.skill_rune_div {
}

.skill_rune {
  width: 35px;
  height: 35px;
}

// rune socket
#rune_socket {
    position: absolute;
    width: 360px;
    right: 15px;
    bottom: 40px;
    z-index: 10000;
    overflow: auto;
    border-bottom: 3px solid $green_bg;
    background-color: $bg;
}
#rune_title {
    float: left;
    font-size: 1em;
    margin-top: 7px;
    margin-right: 4px;
    color: $fg;
}
.rune_selected{
    border-top: 2px solid $green_fg;
    border-left: 2px solid $green_fg;
    border-right: 2px solid $green_fg;
    border-bottom: 2px solid $green_fg;
}
#open_skill_tree {
    color: $fg;
    float: left;
    margin: 3px 0px 0px 0px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2em;
    margin-left: 4px;
    margin-right: 4px;
}
#socket_row {
    float: left;
    font-size: 1em;
    color: $fg;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    letter-spacing: 02px;
}
.hidden {
    display: none;
}

// Small bars
.small_info {
    background-color: $bg;
    border-top: 3px solid $green_fg;
    position: absolute;
    top: 200px;
    left: 500px;
    width: 80px;
    height: 40px;
    z-index: 8000;
}
.small_info_bar {
    margin-right: auto;
    margin-left: auto;
    font-size: 2px;
    line-height: 5px;
    margin-top: 5px;
    width: 70px;
    // overflow: auto;
    position: relative;
}
.small_bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}
.small_name {
    font-size: 1px;
    text-align: center;
    color: $blue_fg;
    white-space: nowrap;
}
.small_indicator {
    color: $bg;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    z-index: 8000;
}
